@import (inline) "../../assets/leaflet.css";
@import "common.less";

.PostMeta {
  .PostMeta-ip, .Modal div label[for="ban-option-only"] {
      img {
          margin-right: 10px;
      }

      img ~ code {
          margin-right: 5px;
      }
  }

  .PostMeta-ip, .Modal label[for="ban-option-only"] code {
      &[data-threat-level=high] {
          color: var(--alert-error-color);
      }

      &[data-threat-level=medium] {
          color: lighten(@alert-error-bg, 10%);
      }

      &[data-threat-level=low] {
          color: var(--alert-success-color);
      }
  }

  .Dropdown-menu {
      width: 450px;
  }
}

.Post-header {
  .item-country {
    img {
      vertical-align: text-top;
    }
  }
}
